<div class="nav-container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <p class="navbar-text"><h2 style="color:Tomato;"><center><%= @merchant.name %></center></h2></p>
  </nav>
</div>

<body>
  <div class="row">
    <p class='mr-auto col-sm-5'><%=  @discount.name%></p>
  </div>
</body>